:root {
    --main-colour: #1b9bc9;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    background-color: var(--main-colour);
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header .search {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    border-radius: 25px;
}
.header img {
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 20px;
}
.body .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.body .cards .card img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}
.body .cards .card h2 {
    display: flex;
    justify-content: center;
}
.body .cards .card input {
    width: 100%;
    height: 30px;
    background-color: var(--main-colour);
    outline: none;
    border: #000 solid 1px;
    margin-bottom: 20px;
}
